<div class="container">
    <!-- User Input -->
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Hiscore lookup" ng-submit="mainCtrl.updateStats()" ng-model="mainCtrl.tempName">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="mainCtrl.hiscoreLookup()">Update Stats</button>
                    </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="number"class="form-control" ng-model="mainCtrl.player.income" ng-step="{{1 / mainCtrl.gphMults[mainCtrl.setGph].mult}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="mainCtrl.incrementGphMult()">
                        {{mainCtrl.gphMults[mainCtrl.setGph].text}}
                    </button>
                    <button class="btn btn-default" type="button" tooltip-placement="bottom" data-container="body" uib-tooltip="Enter your income in GP/hr. Or, in other words, what do you value your time at? For example, if you like to catch anglerfish, you might put 200,000 GP/hr.">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <hr/>
    <!-- Results display -->
    <div  ng-show="mainCtrl.isReady()">
        <!-- Skill list toolbar -->
        <div class="row text-center">
            <div class="btn-group">
                <button ng-repeat="skill in mainCtrl.getSkillList()" type="button" class="btn btn-default" ng-class="{ 'active': mainCtrl.isActive(skill) }" ng-click="mainCtrl.setActive(skill)">
                    <image width="100%" height="100%" ng-src="img/{{skill}}.png">
                </button>
            </div>
        </div>
        <br/>
        <!-- Skill training method overview -->
        <div ng-show="mainCtrl.activeSkill">
            <!-- Calculator input -->
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h4 class="panel-title">
                            <a href ng-click="mainCtrl.calcCollapse()">{{mainCtrl.activeSkill}} Calculator
                                <span ng-show="mainCtrl.calcCollapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                                <span ng-show="!mainCtrl.calcCollapsed" class="glyphicon glyphicon-triangle-top"></span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-body" uib-collapse="mainCtrl.calcCollapsed">
                        <div class="container">
                            <div class="col-md-1"></div>
                            <!-- Current Input -->
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">Current</span>
                                    <span class="input-group-btn">
                                        <label class="btn btn-default" ng-click="mainCtrl.toggleXpLvDisplay('current')">
                                            {{mainCtrl.calc.current.isXp ? 'XP' : 'LV'}}
                                        </label>
                                    </span>
                                    <input type="number" min="0" max="200000000" step="1" class="form-control" ng-model="mainCtrl.calc.current.val">
                                </div>
                            </div>
                            <!-- Target Input -->
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">Target</span>
                                    <span class="input-group-btn">
                                        <label class="btn btn-default" ng-click="mainCtrl.toggleXpLvDisplay('target')">
                                            {{mainCtrl.calc.target.isXp ? 'XP' : 'LV'}}
                                        </label>
                                    </span>
                                    <input type="number" min="0" max="200000000" step="1" class="form-control" ng-model="mainCtrl.calc.target.val">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Training method panel -->
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h4>{{mainCtrl.activeSkill}} Training</h4></div>
                <table class="table table-striped table-bordered">
                    <thead>
                    <th class="col-sm-4 text-center">
                        <a href ng-click="mainCtrl.setSort(1)">Method
                        <span ng-show="mainCtrl.sortType==1 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==1 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-1 text-right">
                        <a href ng-click="mainCtrl.setSort(2)">Exp
                        <span ng-show="mainCtrl.sortType==2 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==2 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-1 text-right">
                        <a href ng-click="mainCtrl.setSort(3)">Level
                        <span ng-show="mainCtrl.sortType==3 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==3 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-1 text-right">
                        <a href ng-click="mainCtrl.setSort(4)">Profit
                        <span ng-show="mainCtrl.sortType==4 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==4 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-1 text-right">
                        <a href ng-click="mainCtrl.setSort(5)">GP/xp
                        <span ng-show="mainCtrl.sortType==5 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==5 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-2 text-right">
                        <a href ng-click="mainCtrl.setSort(6)">EXP/hr
                        <span ng-show="mainCtrl.sortType==6 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==6 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                    </th>
                    <th class="col-sm-2 text-right" tooltip-append-to-body="true" uib-tooltip="EXP/hr adjusted based on your income. See the about page for how it's calculated.">
                        <a href ng-click="mainCtrl.setSort(7)">Effective EXP/hr
                        <span ng-show="mainCtrl.sortType==7 && mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="mainCtrl.sortType==7 && !mainCtrl.sortReverse" class="glyphicon glyphicon-triangle-top"></span></a>
                        &nbsp;<span class="glyphicon glyphicon-question-sign pull-right"></span>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="method in mainCtrl.trainingMethods | orderBy:mainCtrl.trainingMethodOrder:mainCtrl.sortReverse" class="text-right">
                        <td class="text-center"> <a href="" ng-click="mainCtrl.detailMethod(method)"><span class="glyphicon glyphicon-info-sign pull-left"></span></a>{{method.name}}</td>
                        <td>{{method.experiencePerAction | number}}</td>
                        <td>{{method.level}}</td>
                        <td><span ng-if="method.ready">{{method.profit | number}}</span></td>
                        <td><span ng-if="method.ready">{{method.profit / method.experiencePerAction | number : 2}}</span></td>
                        <td>{{method.experiencePerAction * method.actionsPerHour | number}}</td>
                        <td><span ng-if="method.ready">{{mainCtrl.player.getProductivity(method) | number : 0}}</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>